[submodule "sources/libx264"]
	path = sources/libx264
	url = https://code.videolan.org/videolan/x264.git
[submodule "sources/ffmpeg"]
	path = sources/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
